Source: slind-core
Section: host-tools
Maintainer: Alexander Shishkin <virtuoso@slind.org>
Build-Depends: debhelper (>> 2.0.0)
Priority: oprional
Standards-Version: 3.6.2

Package: slind-core
Section: host-tools
Priority: optional
Architecture: all
Depends: debootstrap, sudo, gawk, dpkg-repack
Description: SLIND cross-development environment tools
 This package includes core Slind tools like 'slindctl'. In theory, this is the
 only package which needs to be installed by a final user of Slind distribution.
 .
 Slind is a small Debian-inspired distribution for embedded targets, see
 http://www.slind.org for more information on Slind installation and usage.

Package: slind-maintainer-core
Section: host-tools
Priority: optional
Architecture: all
Depends: slind-core, grasp, sqlite3, gawk, curl, slindak, libconfig-inifiles-perl, libdbd-sqlite3-perl
Description: SLIND maintainance helpers
 This package includes additional tools which are likely to be only required by
 maintainers of Slind packages or Slind developers and won't be of much help for
 people trying just to produce a root filesystem for their target out of
 pre-built packages.
 .
 Slind is a small Debian-inspired distribution for embedded targets, see
 http://www.slind.org for more information on Slind installation and usage.

