Source: slind-core
Section: host-tools
Maintainer: Alexander Shishkin <virtuoso@slind.org>
Build-Depends: debhelper (>> 2.0.0)
Standards-Version: 3.6.2

Package: slind-core
Section: host-tools
Priority: optional
Architecture: all
Depends: debootstrap, sudo
Description: SLIND cross-development environment tools
 This is SLIND. The rest is TODO.

Package: slind-maintainer-core
Section: host-tools
Priority: optional
Architecture: all
Depends: slind-core, grasp, sqlite3
Description: SLIND maintainance helpers
 This is SLIND. The rest is TODO.

