#!/usr/bin/make -f

pkgs := slind-core slind-maintainer-core
dir_slind-core := debian/slind-core
dir_slind-maintainer-core := debian/slind-maintainer-core
dirs := $(dir_slind-core) $(dir_slind-maintainer-core)

configure:
	dh_testdir

clean:
	dh_testdir
	#$(MAKE) clean

	rm -f debian/substvars build-stamp debian/files
	rm -rf $(dirs)

build: build-stamp configure
build-stamp:
	#$(MAKE)
	touch $@

install: build
	dh_testdir
	dh_testroot

	dh_clean -k
	dh_installdirs

binary-arch: install
	dh_testdir
	dh_testroot

	# slind-core
	mkdir -p $(dir_slind-core)/usr/bin
	mkdir -p $(dir_slind-core)/etc/slind
	mkdir -p $(dir_slind-core)/usr/lib/slind-core
	mkdir -p $(dir_slind-core)/usr/lib/slind-core/debootstrap
	cp slindctl $(dir_slind-core)/usr/bin
	cp pget.awk $(dir_slind-core)/usr/bin/pget
	cp slind-config.ini $(dir_slind-core)/etc/slind/slind-config.ini
	cp slind-suites.ini $(dir_slind-core)/etc/slind/slind-suites.ini
	cp libpoolcare.sh $(dir_slind-core)/usr/lib/slind-core
	cp libutils.sh $(dir_slind-core)/usr/lib/slind-core
	cp logging.sh $(dir_slind-core)/usr/lib/slind-core
	cp debootstrap/clydesdale $(dir_slind-core)/usr/lib/slind-core/debootstrap
	cp debootstrap/percheron $(dir_slind-core)/usr/lib/slind-core/debootstrap

	# slind-maintainer-core
	mkdir -p $(dir_slind-maintainer-core)/usr/bin
	mkdir -p $(dir_slind-maintainer-core)/etc
	mkdir -p $(dir_slind-maintainer-core)/var/lib/slind-maint
	cp poolcare $(dir_slind-maintainer-core)/usr/bin
	cp pool-injectdeb $(dir_slind-maintainer-core)/usr/bin
	cp slindjob.pl $(dir_slind-maintainer-core)/usr/bin/slindjob
	cp *.pkglist $(dir_slind-maintainer-core)/var/lib/slind-maint
	chmod 755 $(dir_slind-maintainer-core)/usr/bin/*
	dh_installchangelogs
	
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb
	
binary: binary-arch

.PHONY: configure clean build install binary-arch binary
